html,
body{
	height: 100%;
    width: 100%;
}
object{
	display: none;
}
*:focus{
    outline:0;
}
.login-view{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    overflow-y: scroll;
  	-webkit-overflow-scrolling: touch;
  	overflow-scrolling: touch;
  	background-image: url(../images/degrade_login-20.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: none;
	z-index: 1;
}
.fixheight{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: block;
}
.app_toolbar{
	width: 100%;
	height: 64px;
	background-image: url(../images/toolbar.png);
	background-repeat: repeat-x;
	background-size: 100%;
	background-position: center top;
	z-index: 999;
}
.app_view{
    width: 100%;
    height: calc(100% - 64px);
    position: absolute;
    display: block;
    background-color: #FFF;
    overflow-y: scroll;
  	-webkit-overflow-scrolling: touch;
  	overflow-scrolling: touch;
}
.logo_app{
	background-image: url(../images/logo_app-03.svg);
	width: 146px;
	height: 50px;
	background-repeat: no-repeat;
}
.menu_touch{
	background-image: url(../images/menu-touch.svg);
	width: 64px;
	height: 64px;
	margin-top: 0px;
	background-repeat: no-repeat;
	background-position: center;

}
.menu{
	height: calc(100% - 64px);
    width: 80%;
    display: block;
    margin-left: 100%;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	position: absolute;
	z-index: 999;
	background-color: #fff;
}
.menu ul{
	width: 100%;
	height: 100%;
	-webkit-padding-start: 0px;
	-moz-padding-start: 0px;
	-o-padding-start: 0px;
	-ms-padding-start: 0px;
}
.menu ul li{
	width: 100%;
	list-style: none;
	height: 56px;
	display: block;
	background-color: #FFF;
}
.menu ul li.zebrado{
	background-color: #F4F2F1;
}
.menu ul li a{
	text-decoration: none;
	height: 56px;
	line-height: 56px;
	font-family: 'ralewaylight';
	color: #00ABD7;
	padding-left: 20px;
	display: block;
}

.title_view{
	width: 100%;
	background-color: #F4F2F1;
}
.title_view h1{
	font-family: 'ralewaylight';
	color: #00ABD7;
	font-size: 16px;
}
.title_empresa{
	width: 100%;
	background-color: #F4F2F1;
}
.title_empresa h3{
	font-family: 'ralewaybold';
	color: #B8B8B8;
	font-size: 16px;
}
.title_empresa h1{
	font-family: 'ralewaybold';
	color: #00ABD7;
	font-size: 16px;
}
.title_empresa_vaga{
	width: 100%;
	background-color: #F4F2F1;
}
.title_empresa_vaga img{
	padding-right: 10px;
	margin-top: -5px;
}
.title_empresa_vaga h1{
	font-family: 'ralewaybold';
	color: #00ABD7;
	font-size: 16px;
	line-height: 30px;
}
.border_title{
	width: 100%;
	height: 1px;
	background-image: url(../images/toolbar.png);
	background-size: cover;
	background-color: #00ABD7;
}
.sub_title_view{
	width: 100%;
	background-color: #B8B8B8;
}
.sub_title_view h2{
	color: #fff;
	font-size: 14px;
	font-family: 'ralewaylight';
}
.sub_title_form{
	font-family: 'ralewaybold';
	color: #00ABD7;
	font-size: 16px;
}
.form-empresario{
	margin-top: 20px;
	margin-bottom: 20px;
}
.background-grey{
	background-color: #F4F2F1;
	padding-top: 20px;
	padding-bottom: 20px;
}
#rolagem-salao{
  width: 100%;
  overflow: auto;
  z-index: 999;
}
label{
	color: #818383;
	font-family: 'ralewaylight';
	font-size: 13px;
}
.form-control{
	height: 44px;
}
.btn-cadastro{
	width: 100%;
	height: 44px;
	background-image: url(../images/toolbar.png);
	background-size: cover;
	background-color: #00ABD7;
	border-radius: 5px;
	font-family: 'ralewaybold';
	color: #FFF;
}
.btn-cadastro:hover{
	color: #FFF;
}
.termos{
	color: #00ABD7;
	z-index: 999;
}
.btn-file {
    position: relative;
    overflow: hidden;
    background-color: #B8B8B8;
    color: #FFF;
    background-repeat: no-repeat;
    background-position: -30px center;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    border-radius: 5px;
}
.btn-file:hover{
	color: #FFF;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}
.pelicula{
	width: 100%;
	height: calc(100% + 64px);
	margin-top: -64px;
	background-image: url(../images/sd.png);
	position: fixed;
	display: none;
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    z-index: 999 !important;
}
.popup{
	width: 80%;
	height: auto;
	position: absolute;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
	left: 50%;
	margin-left: -40%;
	background-color: #FFF;
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
	-moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.9);
	box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.9);
}
.popup h6{
	width: 80%;
 	color: #00ABD7;
 	font-family: 'ralewaybold';
 	text-align: center;
 	margin-left: auto;
 	margin-right: auto;
 	font-size: 16px;
 	padding-bottom: 10px;
}
.bt-ok-pelicula{
	width: 80%;
	height: 44px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	background-image: url(../images/toolbar.png);
	background-size: cover;
	background-color: #00ABD7;
	font-family: 'ralewaybold';
	color: #FFF;
	text-align: center;
	display: block;
	border-radius: 5px;
}
.load{
	width: 100%;
	height: calc(100% + 64px);
	margin-top: -64px;
	background-color: rgba(255,255,255, 0.9);
	position: fixed;
	display: none;
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    z-index: 999 !important;
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.ico-load{
	width: 60px;
	height: 60px;
	background-image: url(../images/load-06.svg);
	background-repeat: no-repeat;
	background-position: center;
	left: 50%;
	margin-left: -30px;
	top: 50%;
	margin-top: -40px;
	position: absolute;
	background-size: cover;
  	animation-name: pulse;
  	animation-duration: 1s;
  	animation-iteration-count: infinite;
  	-webkit-animation-name: pulse;
  	-webkit-animation-duration: 1s;
  	-webkit-animation-iteration-count: infinite;
}
.login-container{
	width: 100%;
	height: 100%;

}
.bg-login{
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% auto;

}
.logo-login{
	background-image: url(../images/logo-login.svg);
	width: 205px;
	height: 138px;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 30px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	background-size: cover;
}
.login-forms{
	margin-top: 15px;
}
.login-forms label{
	color: #FFF;
}
.login-forms .btn-login{
	color: #00ABD7;
	background-color: #FFF;
	width: 100%;
	height: 44px;
	font-family: 'ralewaybold';
	text-align: center;
	border-radius: 5px;
	text-transform: uppercase;
}
.login-forms .login-input{
	font-family: 'ralewaylight';
	color: #00ABD7;
	height: 44px;
	border-radius: 5px;
}
.login-info{
	margin-top: 20px;
	padding-bottom: 15px;
}
.login-info p{
	color: #FFF;
	font-family: 'ralewaylight';
	font-size: 12px;
	text-align: center;
}
.login-info h2{
	color: #FFF;
	font-family: 'ralewaybold';
	font-size: 14px;
	text-align: center;
	border:1px solid #FFF;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 5px;
}
.section-pre-cadastro{
	padding-top: 20px;
	padding-bottom: 20px;
}
.section-confirm-cadastro{
	padding-top: 20px;
	padding-bottom: 20px;
}
.section-confirm-cadastro h2{
	font-family: 'ralewaybold';
	color: #00ABD7;
	text-transform: uppercase;
	font-size: 16px;
}
.section-confirm-cadastro p{
	font-family: 'ralewaylight';
	color: #818383;
	font-size: 12px;
}
.bt-pre{
	width: 100%;
	height: auto;
	background-color: #F4F2F1;
	padding-bottom: 5px;
	-webkit-border-radius: 25%;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius: 25%;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-radius: 25%;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.bt-pre img{
	width: 100%;
	height: auto;
}
.bt-pre h2{
	text-align: center;
	color: #818383;
	font-family: 'ralewaybold';
	font-size: 11px;
	padding-top: 5px;
}
.bt-home{
	width: 100%;
	height: auto;
	background-color: #F4F2F1;
	border-radius: 10px;
	margin-bottom: 15px;

}
.bt-home img{
	width: 100%;
	height: auto;
}
.bt-home h2{
	text-align:left;
	color: #818383;
	font-family: 'ralewaylight';
	font-size: 15px;
	padding-top: 12%;
}
.enfase{
	padding-top: 10px;
	padding-bottom: 10px;
	color: #818383;
	font-family: 'ralewaybold';
}

.pelicula-login{
	width: 100%;
	height: 100%;
	background-image: url(../images/sd.png);
	position: absolute;
	display: none;
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    z-index: 999 !important;
}
.popup-login{
	width: 80%;
	height: auto;
	position: absolute;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
	left: 50%;
	margin-left: -40%;
	background-color: #FFF;
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
	-moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.9);
	box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.9);


}
.popup-login h6{
	width: 80%;
 	color: #00ABD7;
 	font-family: 'ralewaybold';
 	text-align: center;
 	margin-left: auto;
 	margin-right: auto;
 	font-size: 16px;
 	padding-bottom: 10px;
}
.bt-ok-pelicula-login{
	width: 80%;
	height: 44px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	background-image: url(../images/toolbar.png);
	background-size: cover;
	background-color: #00ABD7;
	font-family: 'ralewaybold';
	color: #FFF;
	text-align: center;
	display: block;
	border-radius: 5px;
}
.ico-tabs{
	width: 19px;
	height: 19px;
	display: inline-block;
	vertical-align: top;
	background-repeat: no-repeat;
	margin-right: 10px;
	background-position: left top;
}
.ico-tab-1{
	background-image: url(../images/ico-vagas-abertas-25-25.svg);
}
.ico-tab-2{
	background-image: url(../images/ico-vagas-fechadas-26-26.svg);
}
.sub-title-tabs h2{
	font-size: 14px !important;
	line-height: 18px !important;
	font-family: 'ralewaylight';
	color: #818383;
	text-align: center;
}
.tab-left{
	background-image: url(../images/divisor.png);
	background-position: right center;
	background-repeat: no-repeat;
}
.tabs-gerenciar{
	border-bottom: 1px solid #D8D8D8;
}
.active-tab{
	border-bottom: 1px solid #00ABD7;
	background-color: #FFF !important;
}
.active-tab h2{
	color: #00ABD7;
	font-family: 'ralewaybold' !important;
}
.active-tab .ico-tabs{
	background-position: right top !important;
}
.card-degrade{
	width: 100%;
	height: auto;
	display: block;
	min-height: 100px;
	background-image: url(../images/toolbar.png);
	background-size: 100% 100%;
	border-radius: 10px;
	padding-top: 15px;
}
.card{
	margin-bottom: 30px;
}
.card-content{
	height: auto;
	background-color: #F4F2F1;
	border-radius: 10px;
	padding-top: 5px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 5px;
	border-top: 3px solid #00ABD7;
}
.card-content h3{
	color: #00ABD7;
	font-family: 'ralewaybold';
	font-size: 16px;
}
.card-content h4{
	font-family: 'ralewaybold';
	font-size: 16px;
	color: #818383;
}

.card-candidato h5{
	font-family: 'ralewaylight';
	font-size: 14px;
	color: #818383;
}
.card-candidato h6{
	font-family: 'ralewaylight';
	font-size: 14px;
	color: #818383;
}
.card-candidato h6 span{
	font-family: 'ralewaybold';
	font-size: 14px;
	color: #818383;
}

.btn-card{
	width: 100%;
	display: block;
	border-radius: 10px;
	height: 44px;
	background-color: #F4F2F1;
	border:none;
	color: #00ABD7;
	font-family: 'ralewaybold' !important;
	margin-bottom: 5px;
	text-align: left;
}
.btn-card img{
	padding-right: 10px;
	padding-left: 15px;
	margin-top: -5px;
}
.btn-reabrir-vaga{
	background-image: url(../images/toolbar.png) !important;
	background-size: 100% !important;
	background-color: #00ABD7 !important;
	color: #FFF;
}
.card-content .horario{
	font-size: 14px;
	color: #818383;
	font-family: 'ralewaylight';
}
.card-content .horario p{
	margin: 0 0 1px !important;
}
.card-content .info{
	font-size: 14px;
	color: #818383;
	font-family: 'ralewaylight';
}
.section-app-padding{
	padding-top: 20px;
	padding-bottom: 20px;
}
.section-app-padding-fechadas{
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: #818383;
	min-height: calc(100% - 90px);
}
.section-app-padding-arquivadas{
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: #818383;
	min-height: calc(100% - 90px);
}
.section-app-padding-escolhidas{
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: #00ABD7;
	min-height: calc(100% - 90px);
	background-image: url(../images/degrade_login-20.svg);
	background-size: cover;
	background-position: center;
}
.section-app-padding-favoritado{
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: #00ABD7;
	min-height: calc(100% - 90px);
	background-image: url(../images/degrade_login-20.svg);
	background-size: cover;
	background-position: center;
}
.resposta-servidor-cinza{
	text-align: center;
	color: #FFF;
}
.resposta-servidor{
	text-align: center;
	color: #818383;
}
.cards-vagas-escolhidas .resposta-servidor{
	text-align: center;
	color: #FFF !important;
}
.section-title-buscar-vaga{
	padding-top: 10px;

}
.section-title-buscar-vaga h2{
	font-size: 16px;
	color: #818383;
	font-family: 'ralewaylight';
}
.section-title-buscar-vaga h6{
	font-size: 12px;
	color: #818383;
	font-family: 'ralewaylight';
}
.section-title-buscar-vaga img{
	margin-top: 10px;
}
.section-busca-vaga{
	padding-top: 20px;
	padding-bottom: 20px;
}
.btn-busca-vaga{
	width: 100%;
	height: 44px;
	background-image: url(../images/toolbar.png);
	background-size: cover;
	background-color: #00ABD7;
	border-radius: 5px;
	font-family: 'ralewaybold';
	color: #FFF;
}
.btn-busca-vaga:hover{
	color: #FFF;
}
.dados-busca{
	padding-top: 20px;
}
.busca-info{
	color: #818383;
	font-family: 'ralewaybold';
	font-size: 12px;
}
.busca-info span{
	font-family: 'ralewaylight';
}
.card-resultado{
	margin-bottom: 30px;
}
.card-resultado-content{
	height: auto;
	background-color: #F4F2F1;
	border-radius: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 5px;
	border-top: 3px solid #00ABD7;
}
.card-resultado-content h2{
	color: #00ABD7;
	font-family: 'ralewaybold';
	font-size: 16px;
	text-transform: uppercase;
}
.card-resultado-content h3{
	font-family: 'ralewaylight';
	font-size: 12px;
	color: #818383;
	margin-bottom: 5px !important;
	margin-top: 5px !important;
}
.card-resultado-content h3 span{
	font-family: 'ralewaybold';
	font-size: 12px;
	color: #818383;
	line-height: 18px !important;
}
.card-resultado-content h4{
	font-family: 'ralewaylight';
	font-size: 16px;
	color: #818383;
}
.card-resultado-content h4 span{
	font-family: 'ralewaybold';
	font-size: 16px;
	color: #818383;
	text-transform: uppercase;
}
.btn-ver-vaga{
	background-image: url(../images/toolbar.png) !important;
	background-size: 100% !important;
	background-color: #00ABD7 !important;
	color: #FFF;
}
.btn-concorrer-vaga{
	background-image: url(../images/toolbar.png) !important;
	background-size: 100% !important;
	background-color: #00ABD7 !important;
	color: #FFF;
}
.btn-favoritar{
	background-image: url(../images/toolbar.png) !important;
	background-size: 100% !important;
	background-color: #00ABD7 !important;
	color: #FFF;
}
.btn-arquivar-vaga{
	background-size: 100% !important;
	color: #00ABD7 !important;
	background-color: #F4F2F1;
}
.btn-nova-busca{
	width: 100% !important;
	height: 44px !important;
	font-family: 'ralewaylight' !important;
	color: #00ABD7 !important;
	border:1px solid #00ABD7 !important;
	border-radius: 10px !important;
	background-color: #FFF !important;
}
.btn-nova-busca-candidatos{
	width: 100% !important;
	height: 44px !important;
	font-family: 'ralewaylight' !important;
	color: #00ABD7 !important;
	border:1px solid #00ABD7 !important;
	border-radius: 10px !important;
	background-color: #FFF !important;
}
.btn-voltar-cadastro{
	width: 100% !important;
	height: 44px !important;
	font-family: 'ralewaylight' !important;
	color: #00ABD7 !important;
	border:1px solid #00ABD7 !important;
	border-radius: 10px !important;
	background-color: #FFF !important;
}
.card-resultado-content h5{
	color: #818383;
}
.delimiter-card{
	height: 10px;
}
.card-selecionado .card-resultado-content{
	background-color: #00ABD7 !important;
}
.card-selecionado .card-resultado-content h2{
	color: #FFF !important;
}
.card-selecionado .card-resultado-content h3{
	color: #FFF !important;
}
.card-selecionado .card-resultado-content h3 span{
	color: #FFF !important;
}
.card-selecionado .card-resultado-content h4{
	color: #FFF !important;
}
.card-selecionado .card-resultado-content h4 span{
	color: #FFF !important;
}
.card-selecionado .card-resultado-content h5{
	color: #FFF !important;
}
.big-card{
	display: none;
}
.btn-down{
	padding-top: 20px;
}

.btn-excluir{
	width: 100%;
	height: 44px;
	background-color: #FFF;
	border-radius: 5px;
	font-family: 'ralewaybold';
	border: 1px solid red;
	color: red;
	margin-bottom: 20px;
}
.btn-excluir:hover{
	color: red;
}
.habilidades-card{
	line-height: 20px !important;
}
.habilidade-c{
	display: inline-block;
	margin-right: 10px;
	border: 1px solid #00ABD7;
	color: #00ABD7;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 5px;
	border-radius: 10px;
	font-size: 12px !important;
}
.back-button{
	width: 42px;
	height: 42px;
	background-color: rgba(255,255,255, 0.85);
	border-radius: 20px;
	position: fixed;
	bottom: 15px;
	right: 15px;
	border:none;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.30);
	-moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.30);
	box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.30);
	background-image: url(../images/back-button.svg);
	background-repeat: no-repeat;
	border:1px solid #FFF;

}
.termos-app{

}
.termos-app h3{
	font-family: 'ralewaybold';
	color: #00ABD7;
	font-size: 16px;
	line-height: 30px;
	padding-bottom: 10px;
	text-transform: uppercase;
}
.termos-app p{
	padding-bottom: 10px;
	font-size: 14px;
	color: #818383;
	font-family: 'ralewaylight';
	line-height: 20px;
	white-space: pre-wrap;
}
.sobre_app{
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 14px;
	color: #818383;
	font-family: 'ralewaylight';
	line-height: 20px;
	white-space: pre-wrap;
}