	<div class="title_view">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h1>CADASTRO</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="border_title"></div>
		
		<div class="section-confirm-cadastro">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h2>Falta pouco...</h2>
						<p>Para finalizar o seu cadastro é preciso que você acesse o seu e-mail e valide a sua conta através da mensagem enviada por nós.</p>

						<br>

						<button class="btn btn-voltar-cadastro">Ok, entendi</button>
					</div>
				</div>
			</div>
		</div>
		<script src="js/controller_pre_cadastro.js"></script>