
		<div class="title_view">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h1>CONTA EMPRESA</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="border_title"></div>
		<div class="sub_title_view">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h2>PERFIL EMPRESÁRIO</h2>
					</div>
				</div>
			</div>
		</div>
		

<form id="conta_empresa" method="POST">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 form-empresario">
						  <div class="form-group">
						    <label for="exampleInputEmail1">Nome Empresário (*)</label>
						    <input type="text" class="form-control" id="nome_user_salao" name="nome_user_emp" placeholder="Seu nome">
						  </div>

						  <div class="row">

						  	<div class="col-xs-5">
						  		<div class="form-group">
							    <label for="exampleInputPassword1">Código de Área (*)</label>
							    <select name="cod_fone_user_emp" id="cod_fone_user_emp" class="form-control">
							    	
							    </select>
							  </div>
						  	</div>

						  	<div class="col-xs-7">
						  		<div class="form-group">
								    <label for="exampleInputEmail1">Fone (*)</label>
								    <input type="text" class="form-control" id="fone_user_emp" name="fone_user_emp" placeholder="Seu fone">
								  </div>
						  	</div>
						  </div>

					</div>
				</div>
			</div>
			<div class="border_title"></div>
			<div class="background-grey">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<p class="sub_title_form">DADOS DA OFICINA</p>

							<input type="hidden" name="id_empresa" value="" id="id_empresa">

							<div class="form-group">
							    <label for="exampleInputEmail1">Nome da Oficina (*)</label>
							    <input type="text" class="form-control" id="nome_salao" name="nome_salao" placeholder="Nome da Oficina">
							 </div>

							 <div class="row">
							 	<div class="col-xs-5">
							  		<div class="form-group">
								    <label for="exampleInputPassword1">Código de Área (*)</label>
								    <select name="cod_fone_salao" id="cod_fone_salao" class="form-control">
								    	
								    </select>
								  </div>
							  	</div>

							  	<div class="col-xs-7">
							  		<div class="form-group">
									    <label for="exampleInputEmail1">Fone (*)</label>
									    <input type="text" name="fone_salao" class="form-control" id="fone_salao" placeholder="Fone da Oficina">
									  </div>
							  	</div>
							 </div>

							 <div class="form-group">
							    <label for="exampleInputEmail1">CEP (*)</label>
							    <input type="text" class="form-control" id="cep_salao" name="cep_salao" placeholder="CEP">
							 </div>

							 <div class="form-group">
							    <label for="exampleInputEmail1">Rua (*)</label>
							    <input type="text" data-cep="rua" class="form-control" id="rua_salao" name="rua_salao" placeholder="Rua">
							 </div>

							 <div class="row">
							 	<div class="col-xs-5">
							  		<div class="form-group">
								    <label for="exampleInputPassword1">Número (*)</label>
								    <input type="text" class="form-control" id="numero_salao" name="numero_salao" placeholder="Número">
								  </div>
							  	</div>

							  	<div class="col-xs-7">
							  		<div class="form-group">
									    <label for="exampleInputEmail1">Complemento</label>
									    <input type="text" class="form-control" id="complemento_salao" name="complemento_salao" placeholder="Ex: Sala 01">
									  </div>
							  	</div>
							 </div>

							 <div class="form-group">
							    <label for="exampleInputEmail1">Bairro (*)</label>
							    <input type="text" class="form-control" id="bairro_salao" name="bairro_salao" placeholder="Bairro">
							 </div>

							 <div class="form-group">
							    <label for="exampleInputEmail1">Cidade (*)</label>
							    <input type="text" class="form-control" id="cidade_salao" name="cidade_salao" placeholder="Cidade">
							 </div>

							 <div class="form-group">
							    <label for="exampleInputEmail1">Estado (*)</label>
							    <input type="text" class="form-control" id="estado_salao" name="estado_salao" placeholder="Estado">
							 </div>

							 <div class="form-group">
							    <label for="exampleInputEmail1">Site</label>
							    <input type="text" class="form-control" id="site_salao" name="site_salao" placeholder="ex: www.oficina.com.br">
							 </div>

							 <div class="form-group">
							    <label for="exampleInputEmail1">Facebook</label>
							    <input type="text" class="form-control" id="facebook_salao" name="facebook_salao" placeholder="ex: facebook.com/Oficina">
							 </div>
						</div>
						
					</div>
				</div>
			</div>
			<div class="border_title"></div>

			<div class="container">
				<div class="row">

					<div class="col-lg-12 form-empresario">

					
						<button type="submit" class="btn btn-cadastro">SALVAR ALTERAÇÕES</button>

						
					</div>

					
				</div>
			</div>

		</form>
<script src="js/controller_conta_empresa.js"></script>
<script src="js/controller_dados_empresa.js"></script>