<div class="title_empresa_vaga">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1><img src="images/ico-abrir-vaga-30.svg" alt="">EDITAR VAGA</h1>
			</div>
		</div>
	</div>
</div>
<div class="border_title"></div>

<form id="editar_vaga" method="POST">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 form-empresario">

						<input type="hidden" value="" name="id_salao_vaga" id="id_salao_vaga">
						<input type="hidden" value="" name="id_vaga" id="id_vaga">
						
						  <div class="form-group">
						    <label for="cargo_vaga">Cargo</label>
						    <select name="cargo_vaga" id="cargo_vaga" class="form-control">
							</select>
						  </div>

						  <div class="form-group">
						    <label for="qtde_vaga">Quantidade de Vagas</label>
						    <select name="qtde_vaga" id="qtde_vaga" class="form-control">
							</select>
						  </div>

						  <div class="form-group">
						    <label for="sexo_vaga">Sexo</label>
						    <select name="sexo_vaga" id="sexo_vaga" class="form-control">
							    
							</select>
						  </div>

						  <div class="row">
						  	<div class="col-xs-12">
						  		<label for="exampleInputPassword1" class="enfase">Horário de Trabalho</label>
						  	</div>
						  </div>

						  <div class="row">
						  	<div class="col-xs-12">
						  		<label for="cargo_vaga">SEG</label>
						  	</div>
						  	<div class="col-xs-6">
						  		<div class="form-group">
							    <select name="seg_de" id="seg_de" class="form-control optDe">
							    	
							    </select>
							  </div>
						  	</div>

						  	<div class="col-xs-6">
						  		<div class="form-group">
							    <select name="seg_as" id="seg_as" class="form-control optAs">
							   
							    </select>
							  </div>
						  	</div>
						  </div>

						  <div class="row">
						  	<div class="col-xs-12">
						  		<label for="cargo_vaga">TER</label>
						  	</div>
						  	<div class="col-xs-6">
						  		<div class="form-group">
							    <select name="ter_de" id="ter_de" class="form-control optDe">
							    	
							    </select>
							  </div>
						  	</div>

						  	<div class="col-xs-6">
						  		<div class="form-group">
							    <select name="ter_as" id="ter_as" class="form-control optAs">
							   
							    </select>
							  </div>
						  	</div>
						  </div>

						  <div class="row">
						  	<div class="col-xs-12">
						  		<label for="cargo_vaga">QUA</label>
						  	</div>
						  	<div class="col-xs-6">
						  		<div class="form-group">
							    <select name="qua_de" id="qua_de" class="form-control optDe">
							    	
							    </select>
							  </div>
						  	</div>

						  	<div class="col-xs-6">
						  		<div class="form-group">
							    <select name="qua_as" id="qua_as" class="form-control optAs">
							   
							    </select>
							  </div>
						  	</div>
						  </div>

						  <div class="row">
						  	<div class="col-xs-12">
						  		<label for="cargo_vaga">QUI</label>
						  	</div>
						  	<div class="col-xs-6">
						  		<div class="form-group">
							    <select name="qui_de" id="qui_de" class="form-control optDe">
							    	
							    </select>
							  </div>
						  	</div>

						  	<div class="col-xs-6">
						  		<div class="form-group">
							    <select name="qui_as" id="qui_as" class="form-control optAs">
							   
							    </select>
							  </div>
						  	</div>
						  </div>

						  <div class="row">
						  	<div class="col-xs-12">
						  		<label for="cargo_vaga">SEX</label>
						  	</div>
						  	<div class="col-xs-6">
						  		<div class="form-group">
							    <select name="sex_de" id="sex_de" class="form-control optDe">
							    	
							    </select>
							  </div>
						  	</div>

						  	<div class="col-xs-6">
						  		<div class="form-group">
							    <select name="sex_as" id="sex_as" class="form-control optAs">
							   
							    </select>
							  </div>
						  	</div>
						  </div>

						  <div class="row">
						  	<div class="col-xs-12">
						  		<label for="cargo_vaga">SAB</label>
						  	</div>
						  	<div class="col-xs-6">
						  		<div class="form-group">
							    <select name="sab_de" id="sab_de" class="form-control optDe">
							    	
							    </select>
							  </div>
						  	</div>

						  	<div class="col-xs-6">
						  		<div class="form-group">
							    <select name="sab_as" id="sab_as" class="form-control optAs">
							   
							    </select>
							  </div>
						  	</div>
						  </div>

						  <div class="row">
						  	<div class="col-xs-12">
						  		<label for="cargo_vaga">DOM</label>
						  	</div>
						  	<div class="col-xs-6">
						  		<div class="form-group">
							    <select name="dom_de" id="dom_de" class="form-control optDe">
							    	
							    </select>
							  </div>
						  	</div>

						  	<div class="col-xs-6">
						  		<div class="form-group">
							    <select name="dom_as" id="dom_as" class="form-control optAs">
							   
							    </select>
							  </div>
						  	</div>
						  </div>

						  <div class="form-group">
						    <label for="cargo_vaga">Informações Adicionais</label>
						    <textarea name="info_vaga" id="info_vaga" cols="30" rows="10" class="form-control"></textarea>
						  </div>

						<button type="submit" class="btn btn-cadastro">SALVAR ALTERAÇÕES</button>

					</div>
				</div>
			</div>

		</form>

		<form action="" id="excluir-vaga">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<input type="hidden" value="" name="id_salao_vaga" id="id_salao_vaga">
						<input type="hidden" value="" name="id_vaga" id="id_vaga">
						<button type="submit" class="btn btn-excluir">EXCLUIR VAGA</button>
					</div>
				</div>
			</div>
		</form>

		<script src="js/controller_abrir_vaga.js"></script>
		<script src="js/controller_editar_vaga.js"></script>