<div class="title_empresa_vaga">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1><img src="images/ico-gerenciar-vaga-20.svg" alt="">GERENCIAR VAGAS</h1>
			</div>
		</div>
	</div>
</div>
<div class="border_title"></div>

<div class="container sub-title-tabs">
	<div class="row">
		<div class="col-xs-6 active-tab tabs-gerenciar tab-left tab-abertas">
			<h2><span class="ico-tabs ico-tab-1"></span>ABERTAS</h2>
		</div>

		<div class="col-xs-6 tabs-gerenciar tab-fechadas">
			<h2><span class="ico-tabs ico-tab-2"></span>FECHADAS</h2>
		</div>
	</div>
</div>

<div class="section-app-padding">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 cards-vagas">


			</div>
		</div>
	</div>
</div>


<script src="js/controller_empresa.js"></script>
<script src="js/controller_gerenciar_vaga.js"></script>
<script src="js/controller_gerenciar_candidatos.js"></script>
