<div class="title_empresa">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h3>Olá,</h3>
				<h1><span class="nome_salao"><script>getNome("empresa")</script></span></h1>
			</div>
		</div>
	</div>
</div>
<div class="border_title"></div>

<div class="section-pre-cadastro">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="bt-home bt-home-abrir">
							<div class="row">
								<div class="col-xs-4"><img src="images/bt-abrir-vaga-26.svg" alt=""></div>
								<div class="col-xs-8"><h2>ABRIR VAGA</h2></div>
							</div>
						</div>
					</div>

					<div class="col-xs-12">
						<div class="bt-home bt-home-gerenciar">
							<div class="row">
								<div class="col-xs-4"><img src="images/bt-gerenciar-vagas-27.svg" alt=""></div>
								<div class="col-xs-8"><h2>GERENCIAR VAGA</h2></div>
							</div>
						</div>
					</div>

					<div class="col-xs-12">
						<div class="bt-home bt-home-buscar">
							<div class="row">
								<div class="col-xs-4"><img src="images/ico-buscar-candidatos-03.svg" alt=""></div>
								<div class="col-xs-8"><h2>BUSCAR CANDIDATO</h2></div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<script src="js/controller_empresa.js"></script>
		<script src="js/controller_gerenciar_vaga.js"></script>
