<div class="title_empresa">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h3>Olá,</h3>
				<h1><span class="nome_user_cand"><script>getNome("candidato");</script></span></h1>
			</div>
		</div>
	</div>
</div>
<div class="border_title"></div>

<div class="section-pre-cadastro">
			<div class="container">
				<div class="row">

					<div class="col-xs-12">
						<div class="bt-home bt-home-buscar">
							<div class="row">
								<div class="col-xs-4"><img src="images/bt-procurar-vagas-31.svg" alt=""></div>
								<div class="col-xs-8"><h2>BUSCAR VAGAS</h2></div>
							</div>
						</div>
					</div>

					<div class="col-xs-12">
						<div class="bt-home bt-home-escolhidas">
							<div class="row">
								<div class="col-xs-4"><img src="images/bt-vagas-escolhidas-32.svg" alt=""></div>
								<div class="col-xs-8"><h2>VAGAS ESCOLHIDAS</h2></div>
							</div>
						</div>
					</div>

					
				</div>
			</div>
		</div>
		<script src="js/controller_candidato.js"></script>
