
		<div class="title_view">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h1>CADASTRO</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="border_title"></div>
		<div class="sub_title_view">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h2>VOCÊ É?</h2>
					</div>
				</div>
			</div>
		</div>
		
		<div class="section-pre-cadastro">
			<div class="container">
				<div class="row">
					<div class="col-xs-6">
						<div class="bt-pre bt-pre-emp">
							<img src="images/bt-empresa-23.svg" alt="">
							<h2>SOU EMPRESARIO(A)</h2>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="bt-pre bt-pre-cand">
							<img src="images/bt-candidato-24.svg" alt="">
							<h2>SOU CANDIDATO(A)</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="js/controller_pre_cadastro.js"></script>