<div class="title_empresa_vaga">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1><img src="images/ico-resultado-busca-20.svg" alt="">BUSCAR CANDIDATOS</h1>
			</div>
		</div>
	</div>
</div>
<div class="border_title"></div>

<div class="section-title-buscar-vaga">
	<div class="container">
		<div class="row">
			<div class="col-xs-2">
				<img src="images/ico-lupa-busca-28.svg" alt="" width="100%" height="auto">
			</div>
			<div class="col-xs-10">
				<h2>RESULTADO DA BUSCA</h2>
			</div>

			<div class="col-xs-12 dados-busca">
				<p class="busca-info">Cargo: <span id="info-cargo"></span></p>
				<p class="busca-info">Estado: <span id="info-estado"></span></p>
				<p class="busca-info">Cidade: <span id="info-cidade"></span></p>
				<p class="busca-info">Bairro: <span id="info-bairro"></span></p>
			</div>
		</div>
	</div>
</div>

<div class="section-app-padding">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 resultado-buscas-candidatos"></div>
			<div class="col-xs-12 feedback-buscas-candidatos"></div>
			<div class="col-xs-12 nova-busca">
				<button class="btn btn-nova-busca-candidatos">NOVA BUSCA</button>
			</div>
		</div>
	</div>
</div>

<!-- <script src="js/controller_cards_busca.js"></script> -->
<script src="js/controller_form_busca_candidatos.js"></script>



