<div class="title_view">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>SOBRE O APP</h1>
			</div>
		</div>
	</div>
</div>
<div class="border_title"></div>
<div class="sub_title_view">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2>OFICINA EM REDE</h2>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<p class="sobre_app">Conheça o Oficina em Rede, uma solução para acabar com a distância entre oficinas e profissionais da área. Um aplicativo feito para gerar empregos e movimentar contratações e conquistas do mercado automotivo.
Um profissional ideal e uma oficina com uma ótima vaga podem estar no mesmo bairro mas não se encontram. O Oficina em Rede permite que empresas ofertem vagas através do app e que profissionais possam participar de seleções.

BAIXE O APLICATIVO, ANUNCIE UMA VAGA OU CONQUISTE UM EMPREGO.

www.oficinaemrede.com.br</p>
		</div>
	</div>
</div>