<div class="title_empresa_vaga">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1><img src="images/ico-gerenciar-vaga-20.svg" alt="">GERENCIAR VAGAS</h1>
			</div>
		</div>
	</div>
</div>
<div class="border_title"></div>

<div class="container sub-title-tabs">
	<div class="row">
		<div class="col-xs-6 tabs-gerenciar tab-left tab-escolhidas">
			<h2><span class="ico-tabs ico-tab-1"></span>ESCOLHIDAS</h2>
		</div>

		<div class="col-xs-6 tabs-gerenciar tab-arquivadas active-tab">
			<h2><span class="ico-tabs ico-tab-2"></span>ENCERRADAS</h2>
		</div>
	</div>
</div>

<div class="section-app-padding-arquivadas">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 cards-vagas-arquivadas">
				

			</div>
		</div>
	</div>
</div>

<script src="js/controller_gerenciar_escolhidas.js"></script>
<script src="js/controller_candidato.js"></script>
